dist/
.vscode/settings.json
.DS_Store
/tests/data/cache
*.pyc
tests/whole_clustering.csv

tests/data/md_snapshots/caver_md.snapshots
/.coverage
tests/conftest.REvoDesign.py
.coverage
/tests/results
whole_clustering.csv
